/* Utility Styles */
.w-max {
  max-width: 1920px;
  margin: 0 auto;
}

.button-disabled {
  cursor: not-allowed !important;
  pointer-events: auto !important;
}

.small-button {
  width: 32px;
  height: 32px;
}

.btn-light-2 {
  background-color: #d0dada;
  color: var(--bs-dark);
  cursor: pointer;
}

.btn-light-2:hover {
  opacity: 70%;
}

.btn-dark-2 {
  background-color: #3a3f3f;
  color: var(--bs-light);
  cursor: pointer;
}

.btn-dark-2:hover {
  opacity: 80%;
}

.bg-color-AliceBlue {
  background-color: #f0f8ff;
}

.bg-color-light-2 {
  background-color: #eaefef;
}

.bg-color-DarkSlateGray {
  background-color: #2f4f4f;
}

.bg-color-dark-2 {
  background-color: #2a2f2f;
}

/* Animation Styles */
.zoom-in {
  animation-name: zoomInAnimation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes zoomInAnimation {
  from {
    transform: scale(0, 0);
  }
  to {
    transform: scale(1, 1);
  }
}