/* Utility Styles */
.w-max {
  max-width: 1920px;
  margin: 0 auto;
}

.w-160 {
	width: 160px;
}

.button-disabled {
  cursor: not-allowed !important;
  pointer-events: auto !important;
}

.small-button {
  width: 32px;
  height: 32px;
}

.btn-light-2 {
  background-color: #EEE7CB;
  color: var(--bs-dark);
  cursor: pointer;
}

.btn-light-2:hover {
  opacity: 70%;
}

.btn-dark-2 {
  background-color: var(--bs-dark);
  color: var(--bs-light);
  cursor: pointer;
}

.btn-dark-2:hover {
  opacity: 80%;
}

.bg-color-AliceBlue {
  background-color: #F0F8FF;
}

.bg-color-CornSilk {
  background-color: #FFF8DC;
}

.bg-color-DarkSlateGray {
  background-color: #2F4F4F;
}

.bg-color-DarkCharcoal {
  background-color: #333;
}

/* Animation Styles */
.zoom-in {
  animation-name: zoomInAnimation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes zoomInAnimation {
  from {
    transform: scale(0, 0);
  }
  to {
    transform: scale(1, 1);
  }
}